<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.email_field :email,  class: "mdl-textfield__input" %>
        <%= f.label :email, class:"mdl-textfield__label"%>
      </div>
      <br>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      (leave blank if you don't want to change it)
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.password_field :password,  class: "mdl-textfield__input" %>
        <%= f.label :password, class:"mdl-textfield__label"%>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.password_field :password_confirmation,  class: "mdl-textfield__input" %>
        <%= f.label :password_confirmation, class:"mdl-textfield__label"%>
      </div>
      (we need your current password to confirm your changes)
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.password_field :current_password,  class: "mdl-textfield__input" %>
        <%= f.label :current_password, class:"mdl-textfield__label"%>
      </div>

      <div class="actions">
        <%= f.submit "Log in", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent"%>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
    <%= link_to "Back", :back %>
  </div>
  <div class="mdl-layout-spacer"></div>

</div>