.col-md-4.col-md-offset-4
  %h2.proyect_name.alert.alert-info
    %strong.center Modify user
  =form_for(@user, :url => { :action => "update" } ) do |f|
    .field
      = f.label :email, "E-mail"
      %br/
      = f.email_field :email, autofocus: true, class: "form-control"
    .field
      = f.label :privilegio, "Privilege"
      %br/
      = f.select(:privilegio, [['Liner', 1],['Recepción', 2], ['AdminGroup', 3], ['AdminCompany', 4], ['Administrator', 6]],{}, {:class=>"form-control", id: "privilegio"})                                                          
    .field
      = f.label :nombre, "User Name"
      %br/
      = f.text_field :nombre , class: "form-control"
    .field
      = f.label :meta, "Monthly target $$ (optional)"
      %br/
      = f.number_field :meta , class: "form-control", "step"=>"any"
    .actions
      = f.submit  "Save data user" ,"data-inline"=>"true", class: "btn btn-default"
  =link_to admins_path, class: "btn btn-primary white-text" do
    %i.fa.fa-reply
    Go back
:javascript
  $(document).ready(function(){
    $("#privilegio").value(=#{@user.privilegio})
  })
