= form_for @contract do |f|
  - if @contract.errors.any?
    #error_explanation
      %h2= "#{pluralize(@contract.errors.count, "error")} prohibited this contract from being saved:"
      %ul
        - @contract.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :campaing
    = f.text_field :campaing
  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :season
    = f.text_field :season
  .field
    = f.label :portfolio_number
    = f.text_field :portfolio_number
  .field
    = f.label :membership
    = f.text_field :membership
  .field
    = f.label :membership_number
    = f.text_field :membership_number
  .field
    = f.label :membership_size
    = f.text_field :membership_size
  .field
    = f.label :membership_type
    = f.text_field :membership_type
  .field
    = f.label :mail
    = f.text_field :mail
  .field
    = f.label :sell_price
    = f.text_field :sell_price
  .field
    = f.label :number_weeks
    = f.text_field :number_weeks
  .field
    = f.label :price_week
    = f.text_field :price_week
  .field
    = f.label :price_rent
    = f.text_field :price_rent
  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :owner
    = f.text_field :owner
  .field
    = f.label :legal_representative
    = f.text_field :legal_representative
  .field
    = f.label :atipogente
    = f.text_field :atipogente
  .field
    = f.label :commission
    = f.text_field :commission
  .field
    = f.label :coowner
    = f.text_field :coowner
  .actions
    = f.submit 'Save'
