%p#notice= notice

%p
  %b Campaing:
  = @contract.campaing
%p
  %b Date:
  = @contract.date
%p
  %b User:
  = @contract.user
%p
  %b Season:
  = @contract.season
%p
  %b Portfolio number:
  = @contract.portfolio_number
%p
  %b Membership:
  = @contract.membership
%p
  %b Membership number:
  = @contract.membership_number
%p
  %b Membership size:
  = @contract.membership_size
%p
  %b Membership type:
  = @contract.membership_type
%p
  %b Mail:
  = @contract.mail
%p
  %b Sell price:
  = @contract.sell_price
%p
  %b Number weeks:
  = @contract.number_weeks
%p
  %b Price week:
  = @contract.price_week
%p
  %b Price rent:
  = @contract.price_rent
%p
  %b Type:
  = @contract.type
%p
  %b Owner:
  = @contract.owner
%p
  %b Legal representative:
  = @contract.legal_representative
%p
  %b Atipogente:
  = @contract.atipogente
%p
  %b Commission:
  = @contract.commission
%p
  %b Coowner:
  = @contract.coowner

= link_to 'Edit', edit_contract_path(@contract)
\|
= link_to 'Back', contracts_path
