
%h2.text-center.alert.alert-danger
	Manager company
	= @company.nombre
.col-md-12.no-padding.bigmargin
	.col-md-4
		%p.text-center.alert.alert-info.max-trescientos Add Administrator to company 
		= form_for [@company,@usercompany] do |f|
			=f.select :user_id, options_for_select(@usersadministrator), {},{class: "selectpicker max-trescientos","data-live-search"=>"true"}
			%br
			=f.submit "Add Administrator", class: "btn btn-primary"
	.col-md-3
		=link_to new_company_template_path(@company), class: "btn btn-primary white-text" do 
			%i.fa.fa-plus
			Add new template
		%ul.list-group.margin_top
			-@company.templates.each do |template|
				%li.list-group-item
					=link_to "#{@company.nombre} #{template.tipo}: (#{template.lenguaje})",company_template_path(@company,template)
	.col-md-5.bigmargin.border
		%h4.alert.alert-info.text-center
			Administrators list
		%ul.list-group
			-@company.users.each do |user|
				.col-md-6.border
					%i.fa.fa-share-alt-square
					=user.nombre
					=link_to company_usercompany_path(@company,user), :method => :delete, :data => { :confirm => 'Are you sure?' } do
						%i.fa.fa-times.delete
.col-md-12.bigmargin.border
	%h4.alert.alert-info.text-center
		Campaings list
	%ul.list-group
		-@company.campaign.activos.each do |campaign|
			.col-md-6.border
				%i.fa.fa-share-alt-square
				=campaign.nombre
				=link_to  company_companycampaign_path(@company,campaign), :method => :delete, :data => { :confirm => 'Are you sure?' } do
					%i.fa.fa-times.delete

.col-md-12
	= link_to edit_company_path(@company), class: "btn btn-info" do
		%i.fa.fa-edit
		Edit Company
	= link_to companies_path, class: "btn btn-default" do
		%i.fa.fa-reply
		Go back

.col-md-12
	%h4.alert.alert-info.text-center
		User Sign
	= form_for [@company,@signempresa]do |f|
		=f.label :user_id
		%br
		=f.select :user_id, options_for_select(@users),{},{class: "selectpicker max-trescientos","data-live-search"=>"true"}
		%br
		=f.label :nombre, "Name"
		=f.text_field :nombre,class: "form-control max-trescientos"
		%br
		=f.label :firma, "Sign"
		=f.file_field :firma
		=f.submit "Create User", class: "btn btn-primary"
	%table.table
		%thead
			%tr
				%th Name
				%th Sign
				%th Real name
				%th

		%tbody
		-@company.signempresas.activos.each do |user|
			%tr
				%td=user.nombre
				%td=image_tag user.firma.url(:thumb)
				%td=user.user.nombre
				%td
					=link_to  company_signempresa_path(@company,user), :method => :delete, :data => { :confirm => 'Are you sure?' } do
						%i.fa.fa-times.delete