= form_for [@contact,@historycontact] do |f|
  - if @historycontact.errors.any?
    #error_explanation
      %h2= "#{pluralize(@historycontact.errors.count, "error")} prohibited this historycontact from being saved:"
      %ul
        - @historycontact.errors.full_messages.each do |msg|
          %li= msg
  -if current_user.privilegio == 1
    .field
      = f.label :to_user, "Department"
      = f.select :to_user, options_for_select(["Contact department","Legal department"]),{include_blank: true},class: "form-control"
  .field
    = f.label :title
    = f.text_field :title, class: "form-control"
  .field
    = f.label :content
    = f.text_area :content, class: "form-control"
  .field
    = f.label :email
    = f.text_field :email, class: "form-control"
  .field
    = f.label :attachment
    = f.file_field :attachment, class: "form-control"
    %input{type: "hidden", name: "accion", value: "mail"}
  .actions
    = f.submit 'Save', class: "btn btn-info"
